<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/asset-favico.ico">
    <title>编辑信息</title>

    <link rel="stylesheet" href="../css/page-health-orderInfo.css"/>
    <link rel="stylesheet" href="../plugins/elementui/index.css"/>  <!--少了这个-->

    <script src="../plugins/jquery/dist/jquery.min.js"></script>
    <script src="../plugins/healthmobile.js"></script>
    <script src="../plugins/datapicker/datePicker.js"></script>  <!--少了这个-->
    <script src="../plugins/vue/vue.js"></script>
    <script src="../plugins/vue/axios-0.18.0.js"></script>
    <script src="../plugins/elementui/index.js"></script>       <!--少了这个-->

</head>

<body data-spy="scroll" data-target="#myNavbar" data-offset="150">
<div class="app" id="app">
    <!-- 页面头部 -->
    <div class="top-header">
        <span class="f-left"><i class="icon-back"></i>返回</span>
        <span class="center">传智健康</span>
        <span class="f-right"><i class="icon-more"></i></span>
    </div>
    <!-- 页面内容 -->
    <div class="contentBox">
        <div class="card">
            <div class="project-img">
                <img src="../img/widget-detail.png" width="100%" height="100%"/>
            </div>
            <div class="project-text">
                <h4 class="tit">{{setmeal.name}}</h4>
                <p class="subtit">{{setmeal.remark}}</p>
                <p class="keywords"><span>{{setmeal.sex == 0 ? '不限': setmeal.sex == '女' ? '女' : '男'}}</span><span>{{setmeal.age}}</span>
                </p>
            </div>
            <div class="project-know">
                <a href="health-orderNotice.html" class="link-page">
                    <i class="icon-ask-circle"><span class="path1"></span><span class="path2"></span></i>
                    <span class="word">预约须知</span>
                    <span class="arrow"><i class="icon-rit-arrow"></i></span>
                </a>
            </div>
        </div>
        <div class="form-info">
            <div class="info-title">
                <span class="name">体检人信息</span>
            </div>
            <form class="input-group info-form">
                <div class="input-row">
                    <label>体检人</label>
                    <input v-model="orderInfo.name" type="text" class="input-clear" placeholder="请输入用户名">
                </div>
                <div class="input-row single-radio">
                    <label class="radio-title">性别</label>
                    <div class="radio-list">
                        <div class="radio">
                            <input id="item1" type="radio" name="sex" value="选项一" checked>
                            <label for="item1"></label>
                            <span>男</span>
                        </div>
                        <div class="radio">
                            <input id="item2" type="radio" name="sex" value="选项二">
                            <label for="item2"></label>
                            <span>女</span>
                        </div>
                    </div>
                </div>

                <div class="input-row">
                    <label>手机号</label>
                    <input v-model="orderInfo.telephone"
                           type="text" class="input-clear" placeholder="请输入手机号">
                    <input style="font-size: x-small;"
                           id="validateCodeButton" @click="sendValidateCode()" type="button" value="发送验证码">
                </div>
                <div class="input-row">
                    <label>验证码</label>
                    <input v-model="orderInfo.validateCode" type="text" class="input-clear" placeholder="请输入验证码">
                </div>
                <div class="input-row">
                    <label>身份证号</label>
                    <input v-model="orderInfo.idCard" type="text" class="input-clear" placeholder="请输入身份证号">

                </div>
                <div class="input-row">
                    <label>出生日期</label>
                    <input v-model="orderInfo.birthday" type="text" class="input-clear" placeholder="请输入出生日期">
                </div>
                <div class="input-row single-radio">
                    <label class="radio-title">婚否</label>
                    <div class="radio-list">
                        <div class="radio">
                            <input id="item3" type="radio" name="marry" value="选项一" checked>
                            <label for="item3"></label>
                            <span>已婚</span>
                        </div>
                        <div class="radio">
                            <input id="item4" type="radio" name="marry" value="选项二">
                            <label for="item4"></label>
                            <span>未婚</span>
                        </div>
                    </div>

                </div>

                <div class="block">
                    <span class="demonstration">带快捷选项</span>
                    <el-date-picker
                            v-model="orderInfo.orderDate"
                            align="right"
                            type="date"
                            placeholder="选择日期"
                    >
                    </el-date-picker>
                </div>


            </form>
            <div class="box-button">
                <button type="button" @click="submitOrder()" class="btn order-btn">提交预约</button>
            </div>
        </div>

    </div>
</div>
<!-- 页面 css js -->
<!-- <link rel="stylesheet" href="./../../plugins/zepto/zepto.mtimer.css">
<script src="./../../plugins/jquery/dist/jquery.min.js"></script>
<script src="./../../plugins/zepto/zepto.js"></script>
<script src="./../../plugins/zepto/zepto.mtimer.js"></script> -->

<script src="../plugins/datapicker/datePicker.js"></script>

<script>
    export default {
        data() {
            return {
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() > Date.now();
                    },
                    shortcuts: [{
                        text: '今天',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: '昨天',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '一周前',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
                },
                value1: '',
            };
        }
    };
</script>


<script>
    var id = getUrlParam("id");
    var vue = new Vue({
        el: '#app',
        data: {
            setmeal: {},
            orderInfo: {
                setmealId: id,
                sex: '1'
            }
        }, mounted() {
            axios.post("/setmeal/findBasetSetmealById.do?id=" + id).then((res) => {
                if (res.data.flag) {
                    this.setmeal = res.data.data;
                    return
                } else {
                    this.$message.error(res.data.message)
                }
            })
        },
        methods: {
            /*校验手机号*/
            sendValidateCode() {
                var telephone = this.orderInfo.telephone;
                if (!checkTelephone(telephone)) {
                    this.$message.error("请输入正确手机号");
                    return false;
                }
                validateCodeButton = $("#validateCodeButton")[0];
                clock = window.setInterval(doLoop, 1000);
                //异步发送验证码
                axios.post("/validateCode/send4Order.do?number=" + telephone).then((res) => {
                    this.$message({
                        message: res.data.message,
                        type: res.data.flag ? 'success' : "error"
                    })
                })
            },  //end sendValidateCode


            //提交预约
            submitOrder() {
                // this.orderInfo.orderDate = this.orderInfo.orderDate + 1;
                if (!checkIdCard(this.orderInfo.idCard)) {
                    this.$message.error("请输入正确身份证");
                    return false;
                }
                axios.post("/order/sumbit.do", this.orderInfo).then((res) => {
                    if (res.data.flag) {
                        //预约成功，跳转到预约成功页面
                        window.location.href = "/pages/health_orderSuccess.html?orderId=" + res.data.data.id;
                    } else {
                        //预约失败，提示预约失败信息
                        this.$message.error(res.data.message);
                    }
                })

            },//

            // 返回 类似 2016-01-02 格式的字符串
            formatDate: function (year, month, day) {
                var y = year;
                var m = month;
                if (m < 10) m = "0" + m;
                var d = day;
                if (d < 10) d = "0" + d;
                return y + "-" + m + "-" + d
            }
        }
    })


</script>
</body>